.tor-status-container {
  padding: var(--box-padding);

  &.tor-status-icon-warning {
    --box-icon-stroke: var(--icon-color-critical);
  }
}

.tor-status-label {
  display: flex;
  align-items: center;
  gap: var(--space-medium);
  & > * {
    flex: 0 0 auto;
  }
  & > p {
    margin: 0;
  }
}

.tor-status-name {
  font-weight: var(--font-weight-semibold);
}
