/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* License Illustration */

.license-header {
  /* Adjust the header to remove the background, which is out of place without
   * the app-license.html content. */
  align-self: start;
}

td:nth-child(1),
td:nth-child(2) {
  text-align: left;
  vertical-align: top;
}
