/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This selector and the stylesheet URL should be kept in sync in
 * RFPHelper.sys.mjs (LETTERBOX_CSS_SELECTOR and LETTERBOX_CSS_URL,
 * respectively), where --letterboxing-width & --letterboxing-height are
 * actually set.
 * Keep this block first and separate to the rules that do not necessarily
 * require --letterboxing-width or --letterboxing-height.
 */
.letterboxing {
  .browserContainer:not(.responsive-mode) > .browserStack:not(.exclude-letterboxing) > browser {
    width: var(--letterboxing-width) !important;
    height: var(--letterboxing-height) !important;
  }
}

#tabbrowser-tabbox.letterboxing {
  --letterboxing-bgcolor: var(--tabpanel-background-color);
  --letterboxing-border-radius: 8px;
  --letterboxing-border-top-radius: 0;
  --letterboxing-vertical-alignment: start;
  --letterboxing-shadow-color: rgba(12, 12, 13, 0.10);
  --letterboxing-border-color: var(--letterboxing-bgcolor);
  --letterboxing-decorator-visibility: visible;

  .browserContainer {
    /*
     * From Firefox 115 on, .browserContainer layout is flex / column,
     * and without this trick the .browserStack's resize observer
     * doesn't get notified on horizontal shrinking.
     */
    overflow: hidden;
    background: var(--letterboxing-bgcolor);
  }

  &.letterboxing-vcenter {
    --letterboxing-border-top-radius: var(--letterboxing-border-radius);
    --letterboxing-vertical-alignment: center;
  }
}

.browserContainer:not(.responsive-mode) > .browserStack:not(.exclude-letterboxing) {
  .letterboxing & browser {
    box-shadow: 0 4px 8px 0 var(--letterboxing-shadow-color);
    border-radius: var(--letterboxing-border-radius);
    border-top-left-radius: var(--letterboxing-border-top-radius);
    border-top-right-radius: var(--letterboxing-border-top-radius);
  }

  :root:not([inDOMFullscreen]) .letterboxing.letterboxing-ready & {
    place-content: var(--letterboxing-vertical-alignment) center;
  }

  :root:not([inDOMFullscreen]) .letterboxing & {
    .browserDecorator {
      display: initial;
      visibility: var(--letterboxing-decorator-visibility);
      border-radius: var(--letterboxing-border-radius);
      border-top-left-radius: var(--letterboxing-border-top-radius);
      border-top-right-radius: var(--letterboxing-border-top-radius);
      box-shadow: var(--letterboxing-border-color) 0 0 .1px inset, var(--letterboxing-border-color) 0 0 .1px;
      border: .1px solid var(--letterboxing-border-color);
      outline: .1px solid var(--letterboxing-bgcolor);
    }

    #statuspanel:not([mirror]) #statuspanel-label {
      border-end-start-radius: var(--letterboxing-border-radius);
    }

    #statuspanel[mirror] #statuspanel-label {
      border-end-end-radius: var(--letterboxing-border-radius);
    }
  }

  #statuspanel {
    position: relative;
    place-self: end start;
    z-index: 2;

    &[mirror] {
      justify-self: end;
    }
  }

  #statuspanel-label {
    margin: 0;
    border: 1px solid var(--letterboxing-border-color);
    max-width: calc(var(--letterboxing-width) * .5);
  }
}

.browserDecorator {
  display: none;
  pointer-events: none;
  background: transparent;
  position: relative;
  z-index: 1;
}

browser:fullscreen {
  --letterboxing-border-top-radius: 0;
  --letterboxing-border-radius: 0;
}
